
.name{
    text-align: center;
    background:linear-gradient(90deg,rgb(25, 187, 125),rgb(145, 165, 30),blue);
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: auto;
    height: 270px;
    width: 270px;
    background-size: cover;
    background-position: center ;
    border-color: rgb(19, 201, 107);
    border: 2px solid ;
}
.name input:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: white;
    text-align: center;
    align-items: center;
    background-color: skyblue;
}

.adress{
    padding: auto;
    margin: auto;
    text-align: center;
    width: 180px;
    box-shadow: 5px 5px 5px 5px;
    background:linear-gradient(90deg,rgb(239, 238, 241),rgb(151, 7, 224),blue);
    border-radius: 0px 15px 0px 15px;
}
.job-box{
    text-align: center;
    background:linear-gradient(90deg,rgb(75, 168, 231),rgb(143, 240, 57),rgb(231, 61, 39));
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: auto;
    height: 270px;
    width: 270px;
    background-size: cover;
    background-position: center center;
    border-color: rgb(19, 201, 107);
    border: 2px solid ;
    border-radius: 15px 15px 15px 15px;
}
.marks{
    text-align: center;
    background:linear-gradient(90deg,rgb(16, 219, 46),rgb(187, 16, 73),rgb(240, 234, 32));
    box-shadow: 0 4px 8px rgba(3, 3, 3, 3);
    
    margin: auto;
    height: 270px;
    width: 270px;
    background-size: cover;
    background-position: center center;
    border-color: rgb(19, 201, 107);
    border: 2px solid ;
    border-radius: 0px 15px 0px 15px;
}
.father-details{
    background-position: center;
    text-align: center;
    margin: auto;
    width: 180px;
    border: 2px solid ;
    background-position-x: 290px ;
    background: radial-gradient(yellow,green,black);
    box-shadow: 20px 20px 10px green;
    text-align: center;
}
.mother-details{
    background-position: center;
    text-align: center;
    margin: auto;
    width: 250px;
    border-radius: 50%;
    border: 2px solid ;
    background-position-x: 290px ;
    text-align: center;
    background: linear-gradient(30deg,red,white,black);
    box-shadow: 20px 20px 10px rgb(11, 11, 8);
}
.dates{
    background-position: center;
    text-align: center;
    margin: auto;
    width: 180px;
    border: 2px solid ;
    background-position-x: 290px ;
    text-align: center;
    background: radial-gradient(rgb(216, 68, 113),rgb(158, 216, 42),rgb(31, 232, 81));
    box-shadow: 20px 20px 20px rgb(49, 21, 231);
    border-radius: 0px 20px 0px 20px;
}
.feedback{
    background-position: center;
    text-align: center;
    margin: auto;
    width: 180px;
    border: 2px solid ;
    background-position-x: 290px ;
    text-align: center;
    background: linear-gradient(30deg,rgb(197, 25, 88),white,rgb(117, 17, 188));
    box-shadow: 20px 20px 10px rgb(11, 11, 8);
    border-radius: 0px 100px 0px 20px;

}
.location{
    background-position: center;
    text-align: center;
    margin: auto;
    width: 180px;
    border: 2px solid ;
    background-position-x: 290px ;
    text-align: center;
    background: radial-gradient(rgb(14, 174, 57),rgb(210, 22, 185),rgb(194, 149, 16));
    box-shadow: 20px 20px 10px rgb(23, 20, 212);
}
.school{
    background-position: center;
    text-align: center;
    margin: auto;
    width: 180px;
    border: 2px solid ;
    background-position-x: 290px ;
    text-align: center;
    background: linear-gradient(30deg,#0c9517,rgb(22, 15, 210),rgb(190, 12, 113));
    box-shadow: 20px 20px 10px rgb(11, 11, 8);
}