.vijay{
    
    border-width: 10px;
    border-color: green;
    border-style: solid;
    text-align: center;
    background-image: url("D:/fet/html/images/yt_logo_rgb_light.png");
    background-size: cover;
    background-position: center;
}
