*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
header{
    background-image: url("D:\fet\html\images\img1.jpg");
    background-size: cover;
    background-position: center;
    height: 150px;
    width: 100%;
    box-shadow: 0px 0px 15px black;
    margin-bottom: 10px;
    background:linear-gradient(45deg,#efefef,pink,#efefef);
}
marquee{
    font-size: 80px;
    color: white;
    padding: 20px;
    text-shadow: 5px 5px 10px cyan;
    font-weight: bolder;
}
.menu{
    height: 50px;
    background: linear-gradient(60deg,black,blue);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    top: 0px;
    left: 0px;
    box-shadow: 0px 0px 15px teal;
}
.menu a{
    color:white;
    text-decoration: none;
    font-size: 20px;
    flex: auto;
    padding: 10px;
}
.menu a:hover{
    background-color: lightsalmon;
    color:green;
    font-size: 25px;
    font-weight: bold;
}
.image{
    height: 300px;
    background-image: url("D:\fet\html\images\img1.jpg");
    background-position: center;
    margin-top: 6px;
}
.image_text{
    background-color:rgb(39, 28, 52);
    color: white;
    width: 100%;
    height: 100%;
    text-align: center;
}
.image_text h1{
    font-size: 60px;
    margin: 10px;
    padding: 10px;
    color: white;
    box-shadow: 0px 5px white;
    text-shadow: 5px 5px 10px yellow;
}
.image_text p{
    line-height: 35px;
    font-size: 20px;
    padding: 10px;
}
.parent{
    background-color:white; 
}
.parent h1{
    color: violet;
    font-size: 50px;
    text-shadow: 5px 5px 5px black;
    
}
.parent p{
    color: gray;
    font-size: 20px;
    line-height: 35px;
    text-indent: 50px;
    margin: 10px;
}