body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin-top: 500px;
    margin-bottom: 500px;
    background:linear-gradient(120deg,rgb(102, 210, 124),#bcdd77,rgb(102, 55, 230));
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.row {
    display: flex;
    gap: 30px;
    font-family: "Tektur", sans-serif;
}

.box{
    width:300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 10px 0px 0px 10px rgb(2, 15, 2);
    overflow: hidden;
    text-align: center;
    font-weight: bold;
    color: white;
}
.circle {
    width: 350px;
    height: 350px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 10px 0px 0px 10px rgb(13, 14, 13);
    overflow: hidden;
    justify-content: flex-start;
    text-align: center;
    font-weight: bold;
    color: white;
}

.box img{
    width: 150x;
    height: 70%;
    background-size: cover;
    background-position: center; 
    border-radius: 0; 
    
}
.circle img {
    width: 100%;
    height: 50%;
    background-size: cover;
    background-position: center;
}

.description {
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(51, 30, 190, 0.7);
    padding: 10px;
    margin: 5px 0px 0px 0px;
    text-align:justify;
}

.circle {
    border-radius: 1000%;
    height: 400px;
    width: 350px;
}
.circle1 { 
    background-color: lightcoral;
    padding-top: 0px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0px;
 }
.circle2 { 
    background-color: blue;
    padding-top: 0px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0px;
 } 
.circle3 { 
    background-color: #ff0000;
    padding-top: 0px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0px;

}
.box1 { background-color: #ff5733; }
.box2 { background-color: #33aaff; }
.box3 { background-color: #33cc33; }